<%- layout("./layout/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
  
    <h3>Edit your Listing</h3>
    <form method="POST"  
    action="/listings/<%= listing._id %>?_method=PUT"
     novalidate class="needs-validation"  enctype="multipart/form-data">
      <div class="mb-3">
       <label for="title" class="form-label"> Enter title</label>
      <input name="listing[title]" required value="<%= listing.title %>" type="text" id="title" class="form-control" />
       <div class="valid-feedback">title looks good</div>
      <div class="invalid-feedback">enter a title</div>
    </div>
       <div class="mb-3">
         <label for="desc" class="form-label">Enter description</label>
      <textarea name="listing[description]" required id="desc" class="form-control" >
<%= listing.description %></textarea>
 <div class="valid-feedback">description looks good</div>
      <div class="invalid-feedback">enter a perfect description</div>
    </div>
<div class="mb-3 ">
  <p>Current Image</p>
  <img src="<%= originalimageurl %>" class="show-image-edit" alt="">
</div>

       <div class="mb-3">
         <label for="image" class="form-label">upload new image</label>
      <input name="listing[image]" 
      class="form-control" id="image"
       type="file" />
     <div class="valid-feedback">depend upon owner</div>
   
    </div>
      <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Enter price</label>
      <input name="listing[price]" required class="form-control" id="price" value="<%= listing.price %>" type="number" />
       <div class="valid-feedback">price looks good</div>
      <div class="invalid-feedback">enter a valid price</div>
    </div>
      <div class="mb-3 col-md-8">
 <label for="country" class="form-label">Enter country</label>
      <input
        name="listing[country]"
        class="form-control"
        id="country"
        value="<%= listing.country %>"
        type="text"
        required
      />
      <div class="valid-feedback">countrylooks good</div>
      <div class="invalid-feedback">enter a country name</div>
    </div></div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
      <input
        name="listing[location]"
        class="form-control"
        id="location"
        value="<%= listing.location %>"
        type="text"
        required
      />
        <div class="valid-feedback">location looks good</div>
      <div class="invalid-feedback">enter a  perfect locatoin</div>
    </div>

      <button class=" btn btn-dark add-btn ">Edit</button>
    </form>
    <br>
    <!-- <script src="/js/validation.js"></script> -->
  
</div>
</div>
